*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

.space-logo{
    width: 36rem;

}

.position-header{
    display: flex;
    justify-content: space-around ;
}

.style-list-primary{
    list-style: none;
    cursor: pointer;
    opacity: 0.5;

}
.style-list-primary:hover{
    color: black;
    opacity: 1;
    font-weight: bolder;
}
.model-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 32rem;
}
.conteiner-paragraph{
    display: flex;

}
.box-paragraph{
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: start;
    padding: 1rem;
}
.box-img-paragraph{
    background-image: url(IMG/27\ Plum.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 522px;
    width:930px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 412px;
}

.img-paragraph-left{
    height: 226px;
}

.img-paragraph-right{
    height: 165px;
}
.main-text{
    font-size: 58px;
    width: 37rem;
}
.paragraph-primari{
    font-weight: bold;
    font-size: 30px;
    color: #45CFC9;
}
.paragraph-secundary{
    font-size: 30px;
    width: 37rem;
}

.secundary-list{
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    font-size: 30px;
    list-style: none;
    cursor: pointer;
}
.style-list-secundary:hover{
    text-decoration: underline red;
}